
.box{
    display: flex;
    height: min(50vw, 50vh);
    width: min(50vw, 50vh);
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.display{
    /* padding-top: min(6vw, 6vh); */
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.tital{
    padding-top: min(3vw, 3vh);
    font-size: min(7vw, 7vh);
}
.newbutton{
    width: min(40vw, 40vh);
    height: min(7vw, 7vh);
    font-size: min(4vw,4vh);
    border-radius: 1vw;
    background-color: aqua;
}