
.box{
    display: flex;
    height: min(50vw, 50vh);
    width: min(50vw, 50vh);
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.display{
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.newbutton{
    width: min(40vw, 40vh);
    height: min(7vw, 7vh);
    font-size: min(4vw,4vh);
    border-radius: 1vw;
    background-color: aqua;
}